
#me{
    border-radius: 50%;

}
#bot{
    margin-top: 800px;

    height: auto;
    text-align: center;


}


a{
    position: relative;
    left: 1200px;
    text-decoration: none;
    margin-top: 5px;
    font-family: "Work Sans script=latin rev=1" ;
    font-size: large;
    color: black;
    font-weight: bold;

}

body{

    margin: 0%;


}
#head{
    background-color: lightcyan;
    height: 100px;
    width: 100vw;
}

.main{
    height: auto;
    position: absolute;
    top: 100px;
    background-color: lightcyan;
    width: 100vw;

}
#txt{

margin-left: 70px;
margin-top: 100px;
text-align: center;
font-size:x-large;


}
#me{
font-family: 'Sacramento', cursive;
}
#par{
   font-family: 'Sacramento', cursive;
}
span{
   text-decoration: underline;
}

#topcloud{

margin-left: 1100px;

    }
    #i2{
        margin-left: 250px;

    }
#mount{
    display: block;

   position: relative;
   left: 500px;
   top:0px;

    }
    hr{
        border: dotted #111313 6px;
border-bottom: none;
width: 4%;
margin: 100px auto;

    }


